$cardColor: #00d;
$frontColor: white;
$leftNS: 15em;
$topBidPos: 200px;
$handWidth: 800px;
$cardTrickHeight: 50%;
$cardTrickWidth: 30%;
$cursiveFont: cursive;
$mainBtnColor: #ac6218;
$bidColor: #96c1a4;
$trickColor: #425a8e;